body {
    font-family: 'Roboto', sans-serif;
    margin : 3%;
    text-align: center;
    background-color: rgba(32, 51, 63);
}
img {
    width: 80%;
    height: auto;
    top: 40px;
}
h1 {
    font-size: 1.5em;
    top: 50px;
    color: whitesmoke;
}
input {
    width: 60%;
    height: 100px;
    background-color: rgb(39, 170, 63);
    top: 90px;
    margin-bottom: 20px;
    font-size: 1.3em;
    text-align: center;
}
button {
    width: 62%;
    height: 100px;
    background-color:rgb(18, 131, 131);
    font-size: 1.3em;
}
#home {
    display: none;
    height: 20px;
    width: 30px;
    top: 40px;
    border-radius: 10% 10%;
    background-image: url("../img/home.PNG");
    background-size: 100%;
    background-position: 2px;
}
#requeter {
    margin-top: 50px;
}
.logo {
    width: 100px;
    height: 80px;
    margin: 4px;
    background-image: no-repeat;
    background-size: 100%;
    background-position: 1px;
    font-size: 10px;
    font-weight: bold;
}
.animeClick {
    opacity: 0;
    display: none;
    transition: opacity 300ms ease;
}

